.sans-serif {
  font-family: 'Montserrat', sans-serif;
}

.serif {
  font-family: 'Playfair Display', serif;
}

#main-page {
  display: flex;
  float: left;
  flex-direction: row;
}

#titles {
  display: flex;
  flex-direction: column;
  width: 50vw;
  text-align: left;
  vertical-align: middle;
  padding-top: 40vh;
  padding-left: 18vw;
}

#navigation {
  display: flex;
  flex-direction: column;
  float: right;
  width: 40vw;
  height: 51vh;
  margin-top: 36vh;
  font-size: 1.25em;
}

#footer {
  display: table-row;
}

.name {
  font-size: 3em;
}

.title {
  font-size: 2em;
}

.nav-list {
  font-size: 1em;
}

.nav-list:hover {
  text-decoration: underline;
}

.github {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.modal {
  display: none;
  width: 77vw;
  text-align: center;
  margin: auto;
  margin-top: 14vh;
  padding: 6vh;
  height: 36vh;
}

.fluff {
  padding: 22px;
  font-size: 2em;
}

.close {
  float: left;
}

.content {
  padding-top: 3%;
  text-align: left;
}

.skills-content {
  display: inline-flex;
  text-align: center;
  list-style: none;
}

.skills-ul {
  list-style: none;
  text-align: left;
}

.modal-title {
  font-size: 3em;
  color: #dce1e4;
}

.back {
  font-size: 0.75em
}

.proj-img {
  height: 37vh;
  display: flex;
}

.proj-title {
  font-size: 2em;
}

.proj-descr {
  text-align: left;
  display: flex;
  line-height: 1.5;
  margin-left: 2vh;
}

.proj-info {
  display: flex;
  margin-top: 2vh;
}
