.sans-serif {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;}

.sans-serif-thin {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.serif {
  font-family: 'Playfair Display', serif;
}

#main-page {
  display: flex;
  float: left;
  flex-direction: row;
  width: 99vw;
}

#titles {
  display: flex;
  flex-direction: column;
  width: 50vw;
  text-align: left;
  vertical-align: middle;
  padding-top: 40vh;
  padding-left: 18vw;
}

#navigation {
  display: flex;
  flex-direction: column;
  float: right;
  width: 40vw;
  height: 51vh;
  margin-top: 37vh;
  font-size: 1.25em;
}

#top-nav {
  display: none;
  text-align: center;
  width: 74vw;
  height: 4vh;
  font-size: 1.25em;
  margin: auto;
  color: #ababab;
}

.top-nav-list {
  padding: 3vh;
}

#footer {
  display: table-row;
}

.name {
  font-size: 3em;
}

.title {
  font-size: 2em;
  color: #00bf9e;
}

.nav-list {
  font-size: 1em;
}

.nav-list:hover {
  box-shadow: inset 0 0px 0 white, inset 0 -1px 0 #ababab;
}

.github {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  box-shadow: inset 0 0px 0 white, inset 0 -1px 0 #ababab;
}

.modal {
  display: none;
  width: 77vw;
  text-align: center;
  margin: auto;
  margin-top: 7vh;
  padding: 6vh;
  height: 36vh;
}

.fluff {
  padding: 22px;
  font-size: 2em;
}

.content {
  padding-top: 3%;
  text-align: left;
  padding-bottom: 9%;
}

.skills-content {
  display: inline-flex;
  text-align: center;
  list-style: none;
}

.skills-ul1 {
  list-style: none;
  text-align: left;
  padding-left: 0;
}

.skills-ul {
  list-style: none;
  text-align: left;
}

.modal-title {
  font-size: 3em;
  color: #00bf9e;
  display: flex;
  margin: auto;
  text-align: center;
  padding-left: 31vw;
}

.close {
  font-size: 1em;
  display: none;
}

.proj-img {
  height: 19vw;
  display: flex;
}

.proj-title {
  font-size: 2em;
}

.proj-descr {
  text-align: left;
  display: flex;
  line-height: 1.5;
  margin-left: 2vh;
  padding-bottom: 5vh;
}

.proj-info {
  display: flex;
  margin-top: 2vh;
  margin-bottom: 8vh;
}

.h2ish {
  line-height: 2;
  color: #ababab;
}

#contact-links {
  text-align: center;
  padding-top: 14vh;
}

.close {
  display: none;
}

@media only screen
  and (max-width: 667px) {
    .proj-info {
      flex-direction: column;
    }
    .proj-img {
      width: 76vw;
      height: auto;
    }

    #main-page {
      flex-direction: column;
    }

    .modal-title {
      padding-left: 0px;
      font-size: 2em;
    }

    .project-title {
      font-size: 1.5em;
    }

    .close {
      display: flex;
    }

    #top-nav {
      display: none;
    }

    #navigation {
      display: flex;
      flex-direction: column;
      float: right;
      width: 40vw;
      height: 51vh;
      margin-top: 11vh;
      font-size: 1em;
      padding-left: 18vw;
    }

    #titles {
      display: flex;
      flex-direction: column;
      width: 50vw;
      text-align: left;
      vertical-align: middle;
      padding-top: 15vh;
      padding-left: 18vw;
    }

    .name {
      font-size: 2em;
    }

    .title {
      font-size: 1.5em;
      color: #00bf9e;
      margin-top: 1vh;
    }

    .proj-title {
      font-size: 1.25em;
    }
}
